<section class="mx-auto max-w-5xl p-4 space-y-4">
  <header class="flex flex-col sm:flex-row gap-3 sm:items-end" (keydown.enter)="apply()">
    <div class="flex-1 grid grid-cols-1 sm:grid-cols-3 gap-3">
      <input
        class="w-full rounded-xl border px-3 py-2"
        placeholder="Search text"
        [ngModel]="postsStoreService.searchText()"
        (ngModelChange)="filterByText($event)"
      />
      <input
        class="w-full rounded-xl border px-3 py-2"
        placeholder="User ID"
        type="number"
        [ngModel]="postsStoreService.filterUserId()"
        (ngModelChange)="filterByUserId($event)"
      />
      <label class="inline-flex items-center gap-2">
        <input
          type="checkbox"
          [ngModel]="postsStoreService.filterOnlyFavorites()"
          (ngModelChange)="filterByFavorites($event)"
        />
        <span>Only favorites</span>
      </label>
    </div>
    <button
      class="rounded-xl border px-4 py-2 cursor-pointer hover:bg-gray-200 transition duration-400 ease-in-out"
      (click)="apply()"
    >
      Apply
    </button>
  </header>

  @if (postsStoreService.loading()) {
    <app-ghost-loaders [ghostsCount]="4"></app-ghost-loaders>
  } @else if (postsStoreService.posts().length > 0) {
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
      @for (post of postsStoreService.posts(); track post.id) {
        <article
          animate.enter="fade-in"
          animate.leave="fade-out"
          class="rounded-2xl border p-4 shadow-lg cursor-pointer hover:bg-gray-200 has-[.set-fav:hover]:bg-transparent transition duration-400 ease-in-out"
          (click)="openDetails(post.id)"
        >
          <div class="flex items-start gap-3">
            <h3 class="text-lg font-semibold flex-1 leading-tight">
              {{ post.title }}
            </h3>
            <app-fav-button [postId]="post.id"></app-fav-button>
          </div>
          <p class="mt-2 text-sm text-gray-500">
            {{ post.body | slice: 0 : 50 }}{{ post.body.length > 50 ? '…' : '' }}
          </p>
        </article>
      }
    </div>
  } @else {
    <div class="text-orange-600 p-4 border rounded-xl text-center">No data available</div>
  }
</section>
